absl-py==2.1.0
appdirs==1.4.4
appnope==0.1.4
asttokens==3.0.0
autocommand==2.2.2
backports.tarfile==1.2.0
box2d==2.3.10
bullet-safety-gym==1.4.0
casadi==3.6.7
cdt==0.6.0
certifi==2025.1.31
charset-normalizer==3.4.1
clarabel==0.10.0
click==8.1.8
cloudpickle==3.1.1
comm==0.2.2
contourpy==1.3.0
cvxpy==1.6.0
cycler==0.12.1
dct==1.0.0
debugpy==1.8.11
decorator==5.1.1
docker-pycreds==0.4.0
dsrl==0.1.0
easy-runner==0.1.0
exceptiongroup==1.2.2
executing==2.1.0
farama-notifications==0.0.4
fast-safe-rl==0.1.0
fonttools==4.56.0
gitdb==4.0.12
gitpython==3.1.44
glfw==2.8.0
gputil==1.4.0
grpcio==1.70.0
gym-notices==0.0.8
gym==0.26.2
gymnasium==0.28.1
h5py==3.12.1
idna==3.10
imageio==2.37.0
importlib-metadata==8.6.1
importlib-resources==6.5.2
inflect==7.3.1
ipykernel==6.29.5
ipython==8.18.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jax-jumpy==1.0.0
jedi==0.19.2
joblib==1.4.2
jupyter-client==8.6.3
jupyter-core==5.7.2
kiwisolver==1.4.7
llvmlite==0.43.0
markdown==3.7
markupsafe==3.0.2
matplotlib-inline==0.1.7
matplotlib==3.9.4
more-itertools==10.3.0
mujoco==2.3.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
osqp==0.6.7.post3
osrl-lib==0.1.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathtools==0.1.2
patsy==1.0.1
pettingzoo==1.24.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
pip==25.0
platformdirs==4.3.6
prettytable==3.7.0
prompt-toolkit==3.0.50
protobuf==3.19.6
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.3
pybullet==3.2.7
pygame==2.1.0
pygments==2.19.1
pyopengl==3.1.9
pyparsing==3.2.1
pyrallis==0.3.1
python-dateutil==2.8.2
pytz==2025.1
pyyaml==6.0.2
pyzmq==26.2.0
qdldl==0.1.7.post5
requests==2.32.3
safety-gymnasium==0.4.0
scikit-learn==1.6.1
scipy==1.10.1
scs==3.2.7.post2
sentry-sdk==2.20.0
setproctitle==1.3.4
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
skrebate==0.62
smmap==5.0.2
stack-data==0.6.3
statsmodels==0.14.4
swig==4.1.1
tensorboard-data-server==0.7.2
tensorboard==2.18.0
threadpoolctl==3.5.0
tianshou==0.5.1
tomli==2.0.1
torch==1.13.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typeguard==4.3.0
typing-extensions==4.12.2
typing-inspect==0.9.0
tzdata==2025.1
urllib3==2.3.0
wandb==0.14.2
wcwidth==0.2.13
werkzeug==3.1.3
wheel==0.45.1
xmltodict==0.14.2
zipp==3.21.0